.tableTitle{
    font-weight: bold;
    font-size: 1.5rem;
}

.tableBody{
    font-size: 1.2rem;
}


.dark-mode{
    background-color: black;
    color: white;
}


.light-mode{
    background-color: white;
    color: black;
}